<tr id="edit-genre">
	<%= form_for(@genre, html: {class: "form-inline"}, remote: true) do |f| %>
	  <td>Edit Genre</td>
	  <div class="form-group">
	    <td><%= f.label :name %></td>
	    <td><%= f.text_field :name, class: "form-control", placeholder: @genre.name %></td>
	  </div>
	  <td>
	    <%= f.submit "Save", class: "btn" %>
	  </td>
	<% end %>
</tr>
