<% @movie_ids = @genre.movie_ids %>
<% index = 1 %>
<% i = 0 %>
<% while @movie_ids[i] %>
  <% count = 0 %>
  <div class="posters-wrapper">
    <% while count < 5 %>
      <% @movie = Movie.find_by(id: @movie_ids[i]) %>
      <% if i < @movie_ids.length - 1 %>
        <div class="poster poster-<%= index %>">
          <%= link_to image_tag(@movie.photo, class: 'img-responsive'), movie_path(@movie) %>
        </div>
        <% i += 1 %>
        <% index += 1 %>
        <% count += 1 %>
      <% elsif i == @movie_ids.length - 1 %>
        <div class="poster poster-<%= index %>">
          <%= link_to image_tag(@movie.photo, class: 'img-responsive'), movie_path(@movie) %>
        </div>
        <% i += 1 %>
        <% break %>
      <% end %>
    <% end %> 
  </div>
<% end %>
