<div class="container">
<div class="row text-center">
  <p id="notice"><%= notice %></p>
</div>

<div class="row text-center">
  <h1>Listing Genres</h1>
  <br>
</div>

<div class="row">
<div class="jumbotron-index col-sm-10 col-sm-offset-1">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th class="col-sm-4"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @genres %>
    <%= render "form" %>
  </tbody>
</table>
</div>
</div>

<br>

</div>
