<div class="genres-container" id="genre-posters-container">
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <% if @genre.name == "Action" %>
          <h3 class="inline">Action & Adventure</h3>
        <% else %>
  	      <h3 class="inline"><%= @genre.name %></h3>
        <% end %>
  	    <!-- <h3 class="inline">Subgenres</h3> -->
  	    <div class="pull-right">
  		    <!-- <h3>Sorting Bar Goes Here</h3> -->
  	    </div>
      </div>
      
      <div class="row">
        <%= render "genre_list" %>
      </div>
    </div>
  </div>
</div>
