<div class ="container-fluid show-wrap">
  <br>
  <div class="row">
    <div class="col-sm-4">
  	  <h1 class="inline"><%= @genre.name %></h1>
  	  <!-- <h3 class="inline">Subgenres</h3> -->
  	</div>
  	<div class="pull-right">
  		<!-- <h3>Sorting Bar Goes Here</h3> -->
  	</div>
  </div>
  <br>
  <% @movies.each do |movie| %>
    <% for i in movie.genre_ids %>
      <% if i == @genre.id %>
				<div class="row">
					<div class="col-sm-4 show-img thumbnail">
            <%= link_to image_tag(movie.photo), movie_path(movie) %>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
