
/* HOME PAGE STYLES 
==========================================*/


/* SUPPORTING DIV
=================================*/
.main,
.supporting h2,
.supporting p,
.feature {
  text-align: center;
  color:#fff;
}

.supporting h2, .feature h1 {
  color:$azure-radiance;
  margin-top:40px; 
  margin-bottom: 10px;
  font-size: 32px;
  font-weight:300;
}

.supporting p {
  margin-bottom: 45px;
  font-size: 16px;
}


/* CAROUSEL SLIDERS 
==============================*/

.carousels-container {
  width: 1380px;
  margin-left: 4em;
  overflow-x: visible;

  .row div .row {
    margin-left: 0.1em;
    i {
      display: none;
    }
    &:hover {
      i {
        display: inline;
      }
    }
  }

  h3 {
    font-size: 1.3em;
    font-weight: bold;
  }

  a {
    color: #939393;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  
  i {
    font-size: 0.7em;
    margin-left: 0.5em;
  }
}

.poster {
  display: inline-block;
  position: relative;
  margin: 0.5em 0.05em 3em;
  background:transparent; 
  border: none;
  padding: 0;
  @include transitions(all 0.5s ease);

  &:hover {
    @include box-shadow(2px 2px 40px $azure-radiance);
    @include transform(scale(1.75));
    z-index: 4;
    margin: 2em 6em; 
  }

  img {
    width: 14.46975em;
    height: 8.13868em;
  }
}


/* FEATURE DIV 
============================*/
.feature {
  background: url(http://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg) no-repeat center center;
  background-size: cover; 
  height: 380px;
  padding: 100px 0 0 0;

  p {
    font-size:18px; 
  }
}
