<div class="container">
<div class="admin-row">
  <h1 class="text-center">Editing Movie</h1>
</div>

<%= render 'form' %>

<div class="row text-center">
  <%= link_to 'Show', @movie, class: "btn btn-lg btn-primary" %> |
  <%= link_to 'Back', movies_path, class: "btn btn-lg btn-primary" %>
</div>
<br>
</div>
