<% if @movies.blank? %>
  <br>
  <div class="search-row text-center">
    <h1>Title not found</h1>
  </div>
<% else %>
  <br>
  <div class="row">
    <div class="people col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">

    </div>
  </div>
  <br>
  <div class="search-row">
    <div class="col-xs-12">
      <% @movies.each do |movie| %>
        <div class="poster">
          <%= link_to image_tag(movie.photo), movie_path(movie), class: "img-responsive" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
