<% if @movies.blank? %>
  <br>
  <div class="search-row text-center">
    <h1>Title not found</h1>
  </div>
<% else %>
  <br>
  <div class="search-row">
    <% @movies.each do |movie| %>
      <div class="search-img thumbnail col-xs-3">
        <%= link_to image_tag(movie.photo), movie_path(movie), class: "img-responsive" %>
        <h2><%= movie.title %></h2>
      </div>
    <% end %>
  </div>
<% end %>
