<div class="container">
	<div class="admin-row">
		<div class="col-sm-8">
			<img class="img-responsive" src="<%= @movie.photo %>">
		</div>
		<div class="col-sm-8">
			<h2><%= @movie.title %></h2>
			<p><%= @movie.summary %></p>
			<h4>Rotten Tomatoes: <%= @movie.rating %>%</h4>
		</div>
	</div>
	<br>
	<br>
</div>
