
/* FOOTER STYLES 
====================================*/

footer { 
  padding-bottom: 2em;
  
  h3 {
    color:#fff;
    font-size:18px;
    font-weight:300;  
  }

  ul {
    color:$azure-radiance; 
    list-style:none;
    padding-left:0px;  
  }
}
