<% @genre = Genre.find_by(id: 1) %>
<div class="row">
  <div class="row">
    <h3>
      <a href=<%= genre_path(@genre) %> >Action & Adventure<i class="glyphicon glyphicon-chevron-right"></i></a>
    </h3>

    <ol></ol>
  </div>

  <div class="carousel">
    <div class="shadow-left">
      <a class="carousel-arrow previous">
        <i class="fa fa-angle-left"></i>
      </a>
    </div>
    <div class="shadow-right">
      <a class="carousel-arrow forward">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <ul>
      <% @movies.each do |movie| %>
        <% if movie.genre_ids.include?(@genre.id) %>
          <li>
            <div class="poster">
              <%= link_to image_tag(movie.photo, class: "img-responsive"), movie_path(movie) %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
