<% @genres.each do |genre| %>
  <div class="row">
    <% if genre.name == "Action" %>
      <h3><a href=<%= genre_path(genre) %> >Action & Adventure<i class="fa fa-chevron-right"></i></a></h3>
    <% else %>
      <h3><a href=<%= genre_path(genre) %> ><%= genre.name %><i class="fa fa-chevron-right"></i></a></h3>
    <% end %>
  </div>

	<% @movie_ids = genre.movie_ids %>
	  <% for i in @movie_ids %>
	    <% @movie = Movie.find_by(id: i) %>

		  <div class="poster">
        <%= link_to image_tag(@movie.photo, class: "img-responsive"), movie_path(@movie) %>
		  </div>

		<% end %>
	<% end %>
<% end %>
