<!--
<% i = 0 %>
<% arr = [] %>
<% movies = [] %>
<% movieIds = [] %>
<% for movie in @movies %>
  <% img = Magick::Image.ping("#{Rails.root}/public#{movie.photo}").first %>
  <% width = img.columns %>
  <% if width > 500 %>
    <% i += 2 %>
    <% arr.push(2) %>
    <% movies.push(movie.photo) %>
    <% movieIds.push(movie.id) %>
  <% else %>
    <% i += 1 %>
    <% arr.push(1) %>
    <% movies.push(movie.photo) %>
    <% movieIds.push(movie.id) %>
  <% end %>
  <% if i == 3 %>
    <div class="row">
    <% j = 0 %>
    <% for e in movies %>
      <% if arr[j] == 2 %>
        <div class="col-md-8">
          <div class="thumbnail">
            <%= link_to image_tag(e), movie_path(movieIds[j]) %>
          </div>
        </div>
      <% elsif arr[j] == 1 %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(e), movie_path(movieIds[j]) %>
          </div>
        </div>
      <% end %>
      <% j += 1 %>
    <% end %>
    </div>
    <% i = 0 %>
    <% arr = [] %>
    <% movies = [] %>
    <% movieIds = [] %>
  <% end %>
<% end %>
-->

<div class="row">
  <div class="col-xs-12">
    <% @movies.each do |movie| %>
      <div class="poster">
        <%= link_to image_tag(movie.photo, class: "img-responsive"), movie_path(movie.id) %>
      </div>
    <% end %>
  </div>
</div>
