<div class="jumbotron">
  <div class="container">
    <div class="main">
      <h1>About Bolt</h1>
      <p>Buy or rent from the largest selection of movies and TV episodes. Try it for 30 days absolutely free. After your free trial, it's only $9.99/month for unlimited streaming, anywhere you go.</p>
    </div>
  </div>
</div>
