<div class="slider-frame">
  <span class="glyphicon glyphicon-menu-left slider-arrow">
    <p class="sr-only">Go to previous slide</p>
  </span>

  <span class="glyphicon glyphicon-menu-right slider-arrow">
    <p class="sr-only">Go to next slide</p>
  </span>

  <div id="slide-info">
    <%= image_tag("avengers-logo.png", class: "img-responsive", id: "movie-logo") %>

    <div id="movie-stats">
      <span id="year">2012</span>
      <span id="rating">PG-13</span>
      <span id="movie-length">2h 23min</span>
    </div>

    <p id="blurb">
      They're the most powerful people on Earth, but cooperation is a touchy subject.
    </p>
    
    <div id="slide-buttons">
      <a href="#" class="btn-blue"><i class="fa fa-play"></i>PLAY</a>
      <a href="#" class="btn-clear"><i class="fa fa-plus"></i>MY LIST</a>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <h2>A world of movies at your fingertips.</h2>
    <p>Choose from the latest titles, with new movies added every day.</p>
    
    <%= render "posters" %>

  </div>
</div>

<div class="feature">
  <div class="container">
    <h1>Available everywhere</h1>
    <p>Start watching on one device, and pick up where you left off on another device.</p>
  </div>
</div>
