<div class="jumbotron slider">
<!--
  <div class="container">
    <div class="main">
      <h1>Watch your favorite movies, instantly.</h1>
      <a class="btn btn-default" href="pages/about">Learn More</a>

      <%= form_tag(movies_path, method: "get", id: "search-form", class: "form-inline", role: "form") do %> 
        <div class="form-group">
          <%= text_field_tag(:search, params[:search], class: "form-control search", placeholder: "Browse the collection") %>
        </div>
        <%= submit_tag "Search", name: nil, class: "btn btn-submit" %>
      <% end %>
      
    </div>
  </div>
-->
</div>

<div class="supporting">
  <div class="container">
    <h2>A world of movies at your fingertips.</h2>
    <p>Choose from the latest titles, with new movies added every day.</p>
    
    <%= render "posters" %>

  </div>
</div>

<div class="feature">
  <div class="container">
    <h1>Available everywhere</h1>
    <p>Start watching on one device, and pick up where you left off on another device.</p>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function($) {
    $('.jumbotron').vegas({
      slides: [
        { src: "the-avengers-slide.jpg" },
        { src: "skyfall-slide.jpg" }
      ]
    });
  });
</script>
