<div class="slider-frame">
  <span class="glyphicon glyphicon-menu-left slider-arrow">
    <p class="sr-only">Go to previous slide</p>
  </span>

  <span class="glyphicon glyphicon-menu-right slider-arrow">
    <p class="sr-only">Go to next slide</p>
  </span>

<!--
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-6">
        <div id="slide-info">
          <h1>ACE!</h1>
        </div>
      </div>
    </div>
  </div>
-->
</div>

<div class="supporting">
  <div class="container">
    <h2>A world of movies at your fingertips.</h2>
    <p>Choose from the latest titles, with new movies added every day.</p>
    
    <%= render "posters" %>

  </div>
</div>

<div class="feature">
  <div class="container">
    <h1>Available everywhere</h1>
    <p>Start watching on one device, and pick up where you left off on another device.</p>
  </div>
</div>
