<div class="container">
	<div class="row">
		<h1 class="text-center">Debug All The Things!!!</h1>
	</div>

	<div class="row">
		<p><%= debug @movies %></p>
	</div>

	<!-- <div class="row">
		<p><%#= debug @genres %></p>
	</div>

	<div class="row">
		<p><%#= @genres[1].movies_hash %></p>
	</div> -->

	<!-- <div class="row">
		<h2>Movies_Hash</h2>
		<p><%#= debug @movies_hash %></p>
	</div>

	<div class="row">
		<h2>Movies_Array</h2>
		<p><%#= debug @movies_array %></p>
	</div>

	<div class="row">
		<h2>Genres</h2>
		<p><%# debug @genres %></p>
		<p><%#= debug @movie_ids %></p>
	</div>

	<div class="row">
		<h2>Movies</h2>
		<p><%#= debug @movie.attributes %></p>
		<p><%#= debug @movies %></p>
	</div> -->
</div>
