
/* CAROUSEL SLIDERS 
==============================*/

#carousels-container {
  width: 100vw;
  position: relative;
  overflow-x: visible;
  margin-bottom: 3em;

  .carousel-row {
    margin-left: 0.1em;
    i {
      display: none;
    }
    &:hover {
      i, .unslider-nav ol {
        display: inline;
      }
    }
  }

  h3 {
    position: absolute;
    line-height: 2;
    width: 100%;
    margin: auto auto auto 4%;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 6;
  }

  h3 a {
    color: #939393;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  
  i {
    font-size: 0.7em;
    margin-left: 0.5em;
  }
}

.border-left, .border-right {
  position: absolute;
  bottom: -2px;
  width: 4%;
  height: 75%;
  background: rgba(20, 20, 20, 0.5);
  z-index: 20;
}

.border-left {
  left: -4.2%;
}

.border-right {
  right: 4%;
}

.poster {
  display: inline-block;
  position: relative;
  margin: 3em 0 2em;
  background:transparent; 
  border: none;
  padding: 0;
  transition: all 0.5s ease;
  transition-delay: 0.5s;

  .poster-inner {
    margin: 0 2px;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
  }

  img {
    width: 11.2em;
    height: 6.5em;
  }

  &:hover {
    box-shadow: 2px 2px 40px $azure-radiance;
    transform: scale(1.75);
    z-index: 8;
    margin: 2em 4.2em;

    .poster-inner {
      margin: 0;
    }

    img {
      z-index: 8;
    }
  }

  @include bp-tablet {
    &:hover {
      margin: 2em 5.5em;
    }

    img {
      width: 14.46975em;
      height: 8.13868em;
    }
  }

  @include bp-poster-width;
}

.slide-list {
  transition: all 0.5s ease;
  transition-delay: 0.5s;

  &:hover {
    transform: translateX(-4em);
  }
}

.last-slide-translate {
  transition: all 0.5s ease;
  transition-delay: 0.5s;

  &:hover {
    transform: translateX(-11em);
  }
}
