
/* CAROUSEL SLIDERS 
==============================*/

.carousels-container {
  width: 100vw;
  position: relative;
  overflow-x: visible;
  margin-bottom: 3em;

  .carousel-row {
    margin-left: 0.1em;
    i {
      display: none;
    }
    &:hover {
      i, .unslider-nav ol {
        display: inline;
      }
    }
  }

  h3 {
    position: absolute;
    line-height: 2;
    width: 100%;
    margin: auto auto auto 4%;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 6;
  }

  h3 a {
    color: #939393;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  
  i {
    font-size: 0.7em;
    margin-left: 0.5em;
  }
}

.border-left, .border-right {
  position: absolute;
  width: 4%;
  height: 122%;
  background: rgba(20, 20, 20, 0.4);
  z-index: 8;

  @include bp-tablet {
    width: 4.1%;
  }
}

.border-left {
  left: -2px;
}

.border-right {
  right: 2px;
}

.poster {
  display: inline-block;
  position: relative;
  margin: 3em 0.02em 2em;
  background:transparent; 
  border: none;
  padding: 0;
  @include transitions(all 0.5s ease);
  @include transition-delay(0.5s);

  &:hover {
    @include box-shadow(2px 2px 40px $azure-radiance);
    @include transform(scale(1.75));
    z-index: 8;
    margin: 2em 4.2em;

    img {
      z-index: 8;
    }
  }

  img {
    width: 11.2em;
    height: 6.5em;
  }

  @include bp-tablet {
    &:hover {
      margin: 2em 5.5em;
    }

    img {
      width: 14.46975em;
      height: 8.13868em;
    }
  }
}

.slide-list {
  @include transitions(all 0.5s ease);
  @include transition-delay(0.5s);

  &:hover {
    @include transform(translateX(-4em));
  }
}
