
/* UNSLIDER MODS 
=============================================*/

.unslider {
	width: 100vw;
}

.unslider, .unslider-horizontal {
	overflow: visible !important;
	position: relative;
	height: 11em;
}

.unslider .unslider-horizontal .unslider-carousel li#auto-width {
	width: auto !important;
}

.unslider-nav {
	width: 80%;
	background-color: #141414;

	ol {
		position: absolute;
		top: 0.8em;
		left: 85%;
		display: none;

		li {
			width: 15px;
			height: 1px;
			margin: 0 1px;
			border: solid 1px #939393;
		}

		li.unslider-active {
			border: solid 1px white;
		}
	}
}

a.unslider-arrow {
	color: rgba(20,20,20,0.4);
}

.unslider-arrow, .next, .prev {
  position: absolute;
  top: 45%;
  z-index: 20;
  cursor: pointer;
  font-size: 8px;
  transition: all 0.2s ease;
  &:hover {
  	@include transform(scale(1.3));
  }

  @include bp-large {
  	font-size: small;
  }
}

.unslider-arrow.prev {
	top: 50%;
	left: -4.8% !important;
}

.unslider-arrow.next {
	left: auto;
	right: 5.5%;
} 

.unslider-arrow i {
	font-size: 4em !important;
	color: white;
}

ul.unslider-wrap {
	width: 1500% !important;
}

.unslider li, .unslider ol, .unslider ul {
	margin-left: 0;
}
