@import "buttons/extends";
@import "buttons/mixins";
@import "buttons/functions";

.btn-blue {
  @extend .btn;
  color: #fff;
  background-color: #0288ef;
  border-radius: 0;
  padding: 0.5em 1.25em;

  &:hover {
  	color: #fff;
  	background-color: $azure-radiance;
  }
}

.btn-clear {
  @extend .btn;
  color: #fff;
  background: transparent;
  border: solid 1px #d6d6d6;
  border-radius: 0;
  padding: 0.5em 1.25em;

  &:hover {
    color: #fff;
    border-color: #fff;
  }
}
