// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-wrap {
	margin: 7em 2.5em;
}

.inline {
	display: inline;
	margin-right: 1em;
}

.show-img {
	margin: 1em 0;
	img {
		width: 25em;
	}
}

h2 {
	a {
		color: #0393ff;
	}
	a:hover {
			text-decoration: none;
	}
}

.blue {
	color: #0393ff;
}



