@import "sandbox_components/posters/mixins";

.poster {
  @include bp-poster-width;
  @include poster-main;
  @include slide-transition;

  .poster-inner {
    margin: 0 2px;
    @include slide-transition;
  }

  .poster-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 100%;
    padding: 28.125% 0;
  }

  img {
    width: 11.2em;
    height: 6.5em;
  }

  &:hover {
    box-shadow: 2px 2px 40px $azure-radiance;
    transform: scale(1.75);
    z-index: 8;
    margin: 3em 4.2em 0;

    .poster-inner {
      margin: 0;
    }

    img {
      z-index: 8;
    }
  }

  @include bp-tablet {
    height: 8.13868em;

    &:hover {
      margin: 3em 5.5em 0;
    }

    img {
      width: 14em;
      height: 8.13868em;
    }
  }
}
